
[gcode_macro PRINT_END]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                                     ; wait for buffer to clear
    G92 E0                                   ; zero the extruder
    G1 E-1.0 F1800                           ; retract filament.. Stock was 5mm
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G28 X Y                                  ; home X and Y to send them to the right rear
    G90                                      ; absolute positioning
    G1 Z200                                  ; Send the bed to the bottom(?)
    M107                                     ; turn off fan
    M84 E X Y Z                              ; Disable all steppers
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    M117                                     ; Clear LCD Status Message
